.classButton {
  margin-top: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 5.9rem;
  height: 2.4rem;
  margin-left: 3rem;

  background-color: #b1b1b1;
  color: #444444;

  font-size: 20px;

  cursor: pointer;
  border: 0;
  border-radius: 6px;
  transition: filter 0.2s;
}
