.buttonsContainer {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;

  font-size: 36px;
  .buttonsContainer {
    display: flex;
    flex-direction: column;

    padding: 35px
  }
}

.container {
  display: flex;
  flex-direction: row;

  width: 1027px;
  height: 473px;
  margin: 0 auto;

  margin-top: 75px;
  margin-bottom: 50px;

  background: #B1B1B1;

  border-radius: 9px;

  align-items: center;
  justify-content: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  strong {
    padding: 30px;
    text-align: center;
  }
}